# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Daniele\Google Drive\SN\SNMP\SNMP_Tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../../../../../:\Users\Daniele\Google Drive\SN\SNMP\SNMP_Tool\Meilenstein_1.docx